<h1>My Favorites</h1>
<% @favorites.each do |favorite| %>
  <div class="well">
    <h3><%= favorite.title %></h3>
    <p><%= favorite.body %></p>
    <%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>
  </div>
<% end %>
